.profile-page {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.profile-page-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 700px;
    gap: 20px;
    position: relative;
}

.back-button {
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: #333;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.back-button:hover {
    background-color: #444;
}
